
body {
  font-family: Arial, sans-serif;
  background-color: #f4c2c2;
  margin: 0;
  padding: 0;
}


.header {
  text-align: center;
  background-color: #f4a6a6;
  padding: 15px;
  border-bottom: 2px solid #e08080;
}

.header h1 {
  margin: 0;
  color: #fff;
}

.header p {
  margin: 5px 0 0;
  color: #fff;
  font-size: 14px;
}

.footer {
  text-align: center;
  background-color: #f4a6a6;
  padding: 10px;
  color: white;
  margin-top: 30px;
}


.back-btn {
  display: inline-block;
  margin: 20px;
  padding: 10px 15px;
  background-color: #1e40af;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.back-btn:hover {
  background-color: #1d2c7c;
}


.team-title {
  text-align: center;
  color: #fff;
  background-color: #f4a6a6;
  padding: 10px;
  border-radius: 6px;
  margin: 0 auto 20px;
  width: fit-content;
}


.players {
  max-width: 600px;
  background: #fffafa;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.player {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.player:last-child {
  border-bottom: none;
}

.player img {
  width: 90px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
}

.player h3 {
  margin: 0;
  color: #1e3a8a;
}

.player p {
  margin: 3px 0;
  color: #333;
  font-size: 14px;
}
